Source: dupmerge
Section: unknown
Priority: optional
Maintainer: Phil Karn <karn@ka9q.net>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13), libssl-dev
Standards-Version: 4.7.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/dupmerge
#Vcs-Git: https://salsa.debian.org/debian/dupmerge.git

Package: dupmerge
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
