#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_install:
	rm -rf debian/tmp
	mkdir -p debian/tmp
	$(MAKE) install \
		DESTDIR=$(CURDIR)/debian/tmp \
		prefix=/usr
	find debian/tmp -ls
